<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/cabecalho.ejs") %> 
    <link rel="stylesheet" href="/cadastrar.css">
    <title>Cadastro de Auxiliares de Venda</title>
</head>
<body>
    <div class="form-container">
        <h2>Cadastro de Auxiliares</h2>
        <form action="/auxiliares" method="POST">
          <input type="hidden" name="_id" value="<%= auxiliar._id %>">

          <label for="nome">Nome</label>
          <input value="<%=auxiliar.nome %>" type="text" id="nome" name="inp_nome" required placeholder="Seu nome">
    
          <label for="ano">E-mail</label>
          <input value="<%=auxiliar.email %>" type="text" id="email" name="inp_email" required placeholder="Seu melhor E-mail">

          <label for="modelo">Data de Nascimento</label>
          <input value="<%=auxiliar.data_nascimento %>" type="date" id="data_nascimento" name="inp_data_nascimento" required >
    
          <label for="placa">CPF</label>
          <input
            value="<%=auxiliar.cpf %>" 
            type="text" 
            id="cpf" 
            name="inp_cpf" 
            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
            required placeholder="Seu CPF"
            title="Formato do CPF: 000.000.000-00">

            <label for="inp_senha">Senha</label>
            <input value="<%= auxiliar.senha%>" type="text" required placeholder="Sua Senha" name="inp_senha">
          <a href="/"><button type="button" class="btn btn-voltar">Voltar</button></a>
          <button type="submit">Cadastrar</button>
        </form>
      </div>
      <%- include("../partials/rodape.ejs") %> 
</body>
</html>