<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/cabecalho.ejs") %>
    <link rel="stylesheet" href="/editar.css">
    <title>|Editar Auxiliar|</title>
</head>

<body>
    <div class="form-container">
        <h2>Editar Auxiliar</h2>
        <form action="/auxiliares/editar" method="POST">
            <input type="hidden" name="id_auxiliar" value="<%= auxiliar._id %>">
            
            <label for="nome">Nome</label>
            <input value="<%= auxiliar.nome %>" type="text" name="inp_nome" required>
      
            <label for="email">E-mail</label>
            <input value="<%= auxiliar.email %>" type="text" name="inp_email" required>

            <label for="data_nascimento">Data de Nascimento</label>
            <input 
                value="<%= new Date(auxiliar.data_nascimento).toISOString().split('T')[0] %>" 
                type="date" 
                name="inp_data_nascimento" 
                required>
      
            <label for="cpf">CPF</label>
            <input
                value="<%= auxiliar.cpf %>" 
                type="text" 
                name="inp_cpf" 
                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
                required 
                title="Formato do CPF: 000.000.000-00">
            
            <label for="inp_senha">Senha</label>
            <input value="<%= auxiliar.senha %>" type="text" required placeholder="Sua Senha" name="inp_senha">
            
            <a href="/"><button type="button" class="btn btn-voltar">Voltar</button></a>
            <button type="submit">Salvar</button>
        </form>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>
