<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/cabecalho.ejs") %>
    <link rel="stylesheet" href="../listagem.css">
    <title>Listagem de Auxiliares de Venda</title>
</head>
<body>
    <div class="container">
        <h1>Listagem de Auxiliares de Venda</h1>
        <% if ( status == "1") { %>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso!</b>
            </div>
           <% } %>
           <% if ( status == "2") { %>
            <div class="alert alert-danger alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Removido com <b>sucesso!</b>
            </div>
           <% } %>
           <% if ( status == "3") { %>
            <div class="alert alert-warning alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Atualizado com <b>sucesso!</b>
            </div>
           <% } %>

        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Senha</th>
                <th>Ações</th>
                <th>Remover</th>
                <th>Editar</th>
            </tr>
            <% auxiliares.forEach(auxiliar => { %>
                <tr>
                    <td><%= auxiliar.nome %></td>
                    <td><%= auxiliar.email %></td>
                    <td><%= new Date(auxiliar.data_nascimento).toLocaleDateString('pt-BR') %></td>
                    <td><%= auxiliar.cpf %></td>
                    <td><%= auxiliar.senha %></td>
                    <td><a href="/auxiliares/<%= auxiliar.cpf %>"><button class="btn btn-primary btn-detalhar">Detalhar</button></a></td>
                <td><a href="/auxiliares/remover/<%= auxiliar.cpf %>"><button class="btn btn-danger btn-remover" onclick="return confirm('Você quer realmente excluir permanentemente este carro?')">Remover</button></a></td>
                <td><a href="/auxiliares/editar/<%= auxiliar.cpf %>"><button class="btn btn-secondary btn-editar">Editar</button></a></td>

                </tr>
            <% }); %>
        </table>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>