<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/cabecalho.ejs") %>
    <link rel="stylesheet" href="../listagem.css">
    <title>Listagem de Veículos</title>
</head>
<body>
    <div class="container">
        <h1>Listagem de Veículos</h1>
        <% if ( status == "1") { %>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso!</b>
            </div>
           <% } %>
           <% if ( status == "2") { %>
            <div class="alert alert-danger alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Removido com <b>sucesso!</b>
            </div>
           <% } %>
           <% if ( status == "3") { %>
            <div class="alert alert-warning alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Atualizado com <b>sucesso!</b>
            </div>
           <% } %>

        <table class="table table-striped">
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Placa</th>
                <th>Cor</th>
                <th>Preço da Diária (R$)</th>
                <th>Detalhes</th>
                <th>Remover</th>
                <th>Editar</th>
            </tr>
            <% carros.forEach(carro => { %>
                <tr>
                    <td><%= carro.marca %></td>
                    <td><%= carro.modelo %></td>
                    <td><%= carro.ano %></td>
                    <td><%= carro.placa %></td>
                    <td><%= carro.cor %></td>
                    <td>
                        <%
                            const carroDecimal = parseFloat(carro.preco_diaria);
                        %>
                        <%= carroDecimal.toFixed(2) %>
                    </td>
                    <td><a href="/carros/<%= carro.placa %>">Detalhar</a></td>  
                    <td><a href="/carros/remover/<%= carro.placa %>"><button class="btn btn-danger" onclick="return confirm('Você quer realmente excluir permanentemente este carro?')">Remover</button></a></td>
                    <td><a href="/carros/editar/<%= carro.placa %>"><button class="btn btn-secondary">Editar</button></a></td>
                </tr>
            <% }); %>   
        </table>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>
